/*
  *** begin ascii art ***
  
   _    _____    ____  _______    ____  __    ___________
  | |  / /   |  / __ \/  _/   |  / __ )/ /   / ____/ ___/
  | | / / /| | / /_/ // // /| | / __  / /   / __/  \__ \
  | |/ / ___ |/ _, _// // ___ |/ /_/ / /___/ /___ ___/ /
  |___/_/  |_/_/ |_/___/_/  |_/_____/_____/_____//____/
  
  *** end ascii art ***
  
  Most aesthethic options should live here for adjustment
*/


@layer defaults {


:root {
  --bg: #FFF8E7;
  --fg: #5b4931;
  --highlight: #c2c2c2;
  --error-color: #ff0000;
  --warning-color: #ffa500;
  --confirm-color: #008000;
  --color-1-muted: #a8a297;
  --color-1: #d7d0c5;
  --color-1-brighter: #e8e1d6;
  --color-2: #5e5550;
  --color-3: #564c2e;
  --color-4: #99aabb;

  --bg-color: var(--bg);            
  --fg-color: var(--fg);
  --darker-neutral-color: var(--color-1-muted);
  --neutral-bg-color: var(--color-1);  
  --lighter-neutral-bg-color: var(--color-1-brighter);

  --neutral-fg-color: var(--color-1-muted);        
  --highlight-color: var(--highlight);     
  --secondary-color: var(--color-2);     
  --trinary-color: var(--color-3); 
  --quaternary-color: var(--color-4);  
  --link-color: var(--highlight-color);
  --code-secondary-highlight-color: var(--secondary-color);
  --code-foreground-color: var(--fg-color);
  --code-background-color: var(--neutral-bg-color);
  --code-background-color-darker: var(--darker-neutral-bg-color);

  --code-highlight-color: var(--trinary-color);
  --code-neutral-color: var(--neutral-fg-color);
  --font-size: 1.0rem;
  --line-height: 1.618rem;



}

}
