/*
  *** begin ascii art ***
  
   _    _____    ____  _______    ____  __    ___________
  | |  / /   |  / __ \/  _/   |  / __ )/ /   / ____/ ___/
  | | / / /| | / /_/ // // /| | / __  / /   / __/  \__ \
  | |/ / ___ |/ _, _// // ___ |/ /_/ / /___/ /___ ___/ /
  |___/_/  |_/_/ |_/___/_/  |_/_____/_____/_____//____/
  
  *** end ascii art ***
  
  Most aesthethic options should live here for adjustment
*/


:root {  
  --bg-color: #FFF8E7;            
  --fg-color: #5b4931;
  --neutral-bg-color: #d7d0c5;  
  --lighter-neutral-bg-color: #e8e1d6;

  --neutral-fg-color: #5e5550;        
  --highlight-color: #FE7400;     
  --secondary-color: #564c2e;     
  --trinary-color: #475569;   
  --link-color: var(--highlight-color);
  --code-secondary-highlight-color: var(--secondary-color);
  --code-foreground-color: var(--fg-color);
  --code-background-color: var(--neutral-bg-color);
  --code-highlight-color: var(--trinary-color);
  --code-neutral-color: var(--neutral-fg-color);
  --font-size: 1.0rem;
  --line-height: 1.618rem;
}
